md-card{
    width: 300px;
}

md-input-container{
    width: 100%;
}

md-card md-card-actions{
    display: flex;
}

md-card md-card-actions button{
    margin-left: auto;
}

:host{
    display: inline-block;
    margin: 15px;
}