:host >>> *:not(md-icon){
    font-family: Roboto, sans-serif;
}

h2{
    text-align: center;
}

.articles{
    display: flex;
    align-items: center;
    overflow: auto;
}

.toolbar .delete-btn{
    margin-left: auto;
    color: #f2f2f2;
}