<md-toolbar color="primary" class="toolbar">
    <span>Library</span>
    <button md-mini-fab *ngIf="checkedArticles.length !== 0" (click)="delete()" class="delete-btn">
        <md-icon>delete</md-icon>
    </button>
</md-toolbar>

<h2 *ngIf="articles.length !== 0">Articles {{articles.length}}</h2>
<h2 *ngIf="articles.length === 0">Add articles</h2>

<div class="articles">
    <add-article (newArticle)="addArticle($event)"></add-article>
    <article *ngFor="let article of articles" (checkArticle)="checkArticle($event, article)" [article]="article" ></article>
</div>
