.align{
    width: 100%;
    height: 100%;
    display: flex;
    background: #eee;
}
.auth-block{
    text-align: center;
    width: 365px;
    margin: auto;
}

md-input-container{
    width: 100%;
}

button{
    width: 100%;
    height: 40px;
}

form{
    margin: 10px 0 5px;
}

.google-logo{
    max-width: 20px;
}

:host >>> .mat-tab-label{
    flex: 1 1 0;
}

:host >>> md-tab-header{
    margin: -24px -24px 0;
}