<md-card [ngClass]="{'select-card' : checked}">
    <img md-card-image [src]="getImage()">
    <md-checkbox [(ngModel)]="checked" (ngModelChange)="check()"></md-checkbox>
    <md-card-title #myTitle>{{article.title}}</md-card-title>
    <md-card-subtitle><p>{{article.author}}<span> {{article.date | date}}</span></p></md-card-subtitle>
    <md-card-content>{{article.description}}</md-card-content>
    <md-card-actions>
        <button md-button color="primary">About</button>
    </md-card-actions>
</md-card>