md-card{
    width: 300px;
    transition: 0.2s;
}

md-card md-card-actions{
    display: flex;
}

md-card md-card-actions button{
    margin-left: auto;
}

md-card md-checkbox{
    position: absolute;
    top: 10px;
    right: 10px;
}

md-card.select-card{
    transform: scale(1.05);
    background-color: #f9f9f9;
}

:host{
    display: inline-block;
    margin: 15px;
}