/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    margin: 0;
    height: 100%;
    background-color: #fafafa;
}

html{
    height: 100%;
}